.row{
    width: 100%;
}

table{
    text-align: center;
}

span{
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    display: inline-block;
}
.arrow{
    border: 0;
    background: transparent;
}

.arrow:hover{
    transform: scaleY(1.2);
}

tr:nth-child(1) .arrowUp:disabled{
    opacity: 0.3;
}

tr:nth-last-child(1) .arrowDown:disabled{
    opacity: 0.3;
}

.arrow:disabled:hover{
    transform: scaleY(1);
}